html {
  font-family: "Raleway", sans-serif;
  background: #fff;
  color: #575757;
}

.wrapper {
  max-width: 60em;
}

.content {
  max-width: 40em;
  margin: auto;
}

h1 {
  font-weight: 300;
}

.job {
  font-weight: 300;
}

.talk {
  font-weight: 300;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.banner-content {
  position: absolute;
  color: white;
  left: 0;
  bottom: 10%;
}

header {
  background-color: #fff;
}

nav ul {
  list-style: none;
  text-align: center;
}

.max-length {
  max-width: 25em;
}

.photo-nav {
  max-width: 45em;
}


nav ul li a {
  text-decoration: none;
  color: lightgrey;
  font-weight: 700;
  text-transform: uppercase;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #2f4e43;
}

.grey {
  filter: grayscale(100%);
}

.card:hover .color-box {
  background-color: #2f4e43;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1000;
  opacity: 0.75;
}

.card:hover {
  text-decoration: underline;
}

.color-box {
  transition: all 250ms linear;
}

.project {
  color: rgba(255,255,255,0);
  letter-spacing: .06rem;
  z-index: 1001;
  text-align: center;

  transition: all 250ms linear;
}

.card:hover .project {
  color: rgba(255,255,255,1);
  z-index: 2000;
}

.project:hover {
  color: rgba(255,255,255,1);
}

.embed {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%;
}

.embed-16by9 {
  padding-top: 56.25%;
}

.embed-item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.about {
  color: #575757;
}

.heading {
  background: #2f4e43;
}

footer {
  color: #575757;
}

.description {
  color: #575757;
}

.social svg {
  fill: lightgrey;

  transition: all 250ms linear;
}

.social:hover svg {
  fill: #2f4e43;
}

p {
  letter-spacing: .04em;
  font-weight: 300;
}

h2 {
  letter-spacing: .1rem;
  font-weight: 700;
}

h3 {
  letter-spacing: .06rem;
}

.name {
  font-weight: 400;
}

h6 {
  letter-spacing: .06rem;
  font-weight: 400;
}

legend {
  letter-spacing: .06rem;
  font-weight: 400;
  color: #575757;
}

input,
textarea {
  border: 1.6px lightgrey solid;
}

.title-discription {
  font-weight: 300;
}

.title {
  font-weight: 700;
}

.prototype {
  color: #2e4d43;
  font-weight: 700;
  font-size: 18px;
  transition: all .3s ease;
}

.prototype:hover {
  font-size: 19px
}

.icon-content {
  position: relative;
}

.current {
  font-weight: 700;
}

.logo {
  color: lightgrey;
  width: 150px;
  height: 75px;

  transition: all .5s;
}

.logo:hover {
  color: #2e4d43;
}

.top {
  text-decoration: none;
  color: #575757;
}

a {
  text-decoration: none;
}

.nav-link a {
  color: lightgrey;
  font-weight: 400;
}

.nav-link a:hover {
  color: #2e4d43;
}

.photography {
min-height: 10rem;
}

.email {
  font-weight: 400;
}
