---
layout: default
title: Rachel Hisko
---

<header>
  {% include banner.html %}
</header>

<main role="main" id="main">
  <section class="grid work island-1-2">
    {% include card.html url="/dog-app/" file="{{site.baseurl}}/images/placeholder-1by1.svg" alt="Dailey Bailey" title="Dailey Bailey" caption="Smart Product Prototype" %}
    {% include card.html url="/ocean-360/" file="{{site.baseurl}}/images/placeholder-1by1.svg" alt="Ocean 360" title="Ocean 360" caption="Wearables Prototype" %}
    {% include card.html %}
    {% include card.html %}
    {% include card.html %}
    {% include card.html %}
  </section>
</main>
file="{{site.baseurl}}/images/placeholder-1by1.svg" alt="Ocean 360" title="Ocean 360" caption="Wearables Prototype" %}
