---
layout: default
title: Rachel Hisko Designs • Work Display
---

<section>
  {% include banner.html %}
</section>

<main itemref="data-author" itemscope itemtype="https://schema.org/WebSite" role="main" id="main">

    <div class="about wrapper gutter pad-t-1-2" id="about">
      <section>
        <h2 itemprop="name" class="push-1-8 text-upper">About Me</h2>
        <p itemprop="description" class="main-text push-1-2 milli">Hi there, I’m Rachel! You can usually find me touring around my hometown of Carleton Place, Ontario; taking photos, drinking Salted Carmel Mochas and listening to classical music.</p>
        <p itemprop="description" class="main-text push-1-2 milli">I am a Graphic Designer with a passion towards human-centred designs. I primarily focus on innovative concepts regarding the User Interface and the User Experience (UI/UX).</p>
        <p itemprop="description" class="main-text push-1-2 milli">I am an out of the box thinker, always challenging myself to consider alternative perspectives, other than my own. By contemplating various viewpoints, it will help me realize unique ideas that may make significant change in the world.</p>
        <h3 itemprop="name"class="push-0 giga">Photography</h3>
        <p itemprop="description" class="push-1-2 milli">I know my camera like it’s the back of my hand. I have had many opportunities to be able to show off some of my photography skills. One significant opportunity was working for the Carleton Place Chamber of Commerce.</p>
        <h3 itemprop="name" class="push-0 giga">User Design</h3>
        <p itemprop="description" class="push-1-2 milli">After designing my first application that could sustainably help our world, I new right away that I wanted to continue doing this in my future career. I felt productive and I felt like I could actually make a difference in this world by doing something I love.</p>
      </section>
    </div>

  <section class="grid wrapper" id="portfolio">
    {% include card.html url="/dog-app/" file="images/dailey-bailey-main-page.jpg" alt="Dailey Bailey" title="Dailey Bailey" caption="Smart Product Prototype" %}
    {% include card.html url="/ocean-360" file="images/scuba-main-page.jpg" alt="Ocean 360" title="Ocean 360" caption="Wearables Prototype" %}
    {% include card.html url="/seafood-eats/" file="images/seafood-main-page.jpg" alt="Seafood Eats" title="Seafood Eats" caption="Global Goal" %}
    {% include card.html url="/global-goals-app/" file="images/global-goals-home.jpg" alt="Global-Goals-App" title="Unknown App Name" caption="Global Goal" %}
    {% include card.html url="/heritage-logo/" file="images/logo-design-main-page.jpg" alt="Heritage Logo" title="Heritage" caption="Logo Redesign" %}
    {% include card.html url="/birch-haven-redesign/" file="images/birch-haven-home.jpg" alt="Birch Haven Website Redesign" title="Birch Haven" caption="Website Redesign" %}
  </section>
</main>
