---
layout: default
title: Rachel Hisko Designs • Work Display
---

<header>
  {% include banner.html %}
</header>

<main role="main" id="main">
  <section class="grid work island-1-2">
    {% include card.html url="/dog-app/" file="images/dailey-bailey-main-page.jpg" alt="Dailey Bailey" title="Dailey Bailey" caption="Smart Product Prototype" %}
    {% include card.html url="/ocean-360" file="images/scuba-main-page.jpg" alt="Ocean 360" title="Ocean 360" caption="Wearables Prototype" %}
    {% include card.html url="/seafood-eats/" file="images/seafood-main-page.jpg" alt="Seafood Eats" title="Seafood Eats" caption="Global Goals" %}
    {% include card.html url="/mental-health-app/" file="images/logo-design-main-page.jpg" alt="Mental Health App" title="Mental Health App" caption="Mental Health App" %}
    {% include card.html url="/heritage-logo/" file="images/logo-design-main-page.jpg" alt="Heritage Logo" title="Heritage Community Fitness" caption="Logo Redesign" %}
    {% include card.html url="/birch-haven-redesign/" file="images/logo-design-main-page.jpg" alt="Birch Haven Website Redesign" title="Birch Haven Website Redesign" caption="Website Redesign" %}
  </section>
</main>
