<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} • {% endif %}Rachel Hisko Portfolio Website</title>
  <meta name="description" content="A website to display my work I accomplished throughout my school years.">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
</head>

<body itmeref="data-author" itemscope itemtype="https://schema.org/WebSite">

  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#nav">Jump to navagation</a></li>
    <li><a href="#contentinfo">Jump to contentinfo</a></li>
  </ul>

  <div class="wrapper">

    <header role="banner" class="push banner">

      <div class="push-1-2">
        <nav role="navigation" id="nav" class="text-center gutter-1-2">
          <input type="checkbox" class="nav-check" id="nav-check">
          <label class="nav-label hide-custom-input pad-t-1-2 gutter w-1" for="nav-check">Menu</label>
          <ul class="list-group grid nav pad-t-1-2 ">
            <li class="unit xs-1 s-1 m-1-3 push-1-2 pad-t-1-2 pad-b-1-2"><a href="{{site.baseurl}}/index">Home</a></li>
            <li class="unit xs-1 s-1 m-1-3 push-1-2 pad-t-1-2 pad-b-1-2"><a href="{{site.baseurl}}/about">About</a></li>
            <li class="unit xs-1 s-1 m-1-3 push-1-2 pad-t-1-2 pad-b-1-2"><a href="mailto:rachel@hiskodesigns.ca">Contact</a></li>
          </ul>
        </nav>
      </div>

    </header>

    <main>

      {{content}}

    </main>

    <footer id="data-author" itemprop="author" itemscope itemtype="https://schema.org/Person" class="push">
      <div class="gutter">
        <p class="push-0 bold subtitle">Want to talk Design?</p>
        <p><span itemprop="name">Rachel Hisko</span></p>
        <a itemprop="email" href="mailto:rachel@hiskodesigns.ca">rachel@hiskodesigns.ca</a>
        <p itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
          <span itemprop="addressLocality">Ottawa.</span>
          <span itemprop="addressRegion">Ontario.</span>
          <span itemprop="addressCountry">Canada.</span>
        </p>
      <div class="gutter-2 text-right">
        <div class="inline-block gutter-1-2">
          <i class="icon i-24 push-1-4">
            <a itemprop="url" class="icon-link social" href="https://www.behance.net/RHisko11"><svg><use xlink:href="{{site.baseurl}}/images/icons.svg#behance" /></svg></a>
          </i>
        </div>
        <div class="inline-block gutter-1-2">
          <i class="icon i-24 push-1-4">
            <a itemprop="url" class="icon-link social" href="https://www.instagram.com/hiskodesigns"><svg><use xlink:href="{{site.baseurl}}/images/icons.svg#insta" /></svg></a>
          </i>
        </div>
        <div class="inline-block gutter-1-2">
          <i class="icon i-24 push-1-4">
            <a  itemprop="url"class="icon-link social" href="https://www.facebook.com/rhlovephotography/?ref=bookmarks"><svg><use xlink:href="{{site.baseurl}}/images/icons.svg#facebook" /></svg></a>
          </i>
        </div>
      </div>
      <div role="contentinfo" id="contentinfo" class="gutter">
        <p class="push-0 micro">© Rachel Hisko // Graphic Designer</p>
      </div>
    </footer>


</body>
</html>
