---
layout: default
title: {{page.title}}
meta: {{page.meta}}
---

<section class="wrapper gutter-1-4 work" itemref="data-author" itemscope itemtype="https://schema.org/CreativeWork">

  <main role="main" id="main">

    <h1 class="push-0 title zetta" itemprop="name">{{page.main-title}}</h1>
    <h2 class="push title-discription tera" itemprop="description">{{page.main-description}}</h2>

    <div class="push">
      <h3 class="push-1-4" itemprop="name">{{page.subtitle-concept}}</h3>
      <p itemprop="description">{{page.concept}}</p>
      <div class="push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.top-image}}" alt="{{page.alt-top-image}}" role="presentation">
      </div>
    </div>

    <div class="push">
      <h3 class="push-1-4" itemprop="name">{{page.title-personas}}</h3>
      <div class="grid">
        <div class="unit xs-1 s-1 l-1-2 gutter-1-2">
          <img itemprop="image" class="img-flex push" src="{{site.baseurl}}{{page.persona-image-1}}" alt="{{page.alt-persona-image-1}}" role="presentation">
          <p itemprop="description">{{page.persona-text-1}}</p>
        </div>
        <div class="unit xs-1 s-1 l-1-2 gutter-1-2">
          <img itemprop="image" class="img-flex push" src="{{site.baseurl}}{{page.persona-image-2}}" alt="{{page.alt-persona-image-2}}" role="presentation">
          <p itemprop="description">{{page.persona-text-2}}</p>
        </div>
      </div>
    </div>

    <div class="push">
      <h3 class="push-1-4" itemprop="name">{{page.subtitle-process}}</h3>
      <div class="grid">
        <div class="unit xs-1 s-1 m-1-3 push-1-2 gutter-1-2">
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.sketches1}}" alt="{{page.alt-sketches1}}" role="presentation">
        </div>
        <div class="unit xs-1 s-1 m-1-3 push-1-2 gutter-1-2">
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.sketches2}}" alt="{{page.alt-sketches2}}" role="presentation">
        </div>
        <div class="unit xs-1 s-1 m-1-3 push-1-2 gutter-1-2">
          <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.prototype}}" alt="{{page.alt-prototype}}" role="presentation">
        </div>
      </div>
      <div class="push-1-2 gutter-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.prototype2}}" alt="{{page.alt-prototype2}}" role="presentation">
      </div>
    </div>

    <div class="push">
      <h3 class="push-1-4" itemprop="name">{{page.subtitle-visual-design}}</h3>
      <div>
        <div class="grid">
          <div class="push-1-2 unit xs-1 s-1 m-1-2">
            <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.screen-1}}" alt="{{page.alt-screen-1}}" role="presentation">
          </div>
          <div class="push-1-2 unit xs-1 s-1 m-1-2">
            <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.screen-2}}" alt="{{page.alt-screen-2}}" role="presentation">
          </div>
        </div>
        <h4 class="push-0"itemprop="name">{{page.feature-1}}</h4>
        <p class="push" itemprop="description">{{page.feature-1-description}}</p>
      </div>
      <div>
        <div class="grid">
          <div class="push-1-2 unit xs-1 s-1 m-1-2">
            <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.screen-3}}" alt="{{page.alt-screen-3}}" role="presentation">
          </div>
          <div class="push-1-2 unit xs-1 s-1 m-1-2">
            <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.screen-4}}" alt="{{page.alt-screen-4}}" role="presentation">
          </div>
        </div>
        <h4 class="push-0" itemprop="name">{{page.feature-2}}</h4>
        <p class="push" itemprop="description">{{page.feature-2-description}}</p>
      </div>
      <div>
        <div class="grid">
          <div class="push-1-2 unit xs-1 s-1 m-1-2">
            <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.screen-5}}" alt="{{page.alt-screen-5}}" role="presentation">
          </div>
          <div class="push-1-2 unit xs-1 s-1 m-1-2">
            <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.screen-6}}" alt="{{page.alt-screen-6}}" role="presentation">
          </div>
        </div>
        <h4 class="push-0" itemprop="name">{{page.feature-3}}</h4>
        <p class="push" itemprop="description">{{page.feature-3-description}}</p>
      </div>
    </div>

    <div class="push">
      <h3 class="push" itemprop="name">{{page.icons}}</h3>
      <div class="push">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.icons-image}}" alt="{{page.alt-icons-image}}" role="presentation">
      </div>
      <p class="push" itemprop="description">{{page.icons-description}}</p>
    </div>

    <div class="push">
      <a class="prototype" itemprop="url" href="{{page.prototype-link}}">{{page.interactive}}</a>
    </div>

    <div class="push">
      <div class="push-1-2 ">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.bottom-image}}" alt="{{page.alt-bottom-image}}" role="presentation">
      </div>
    </div>

    <div>
      <p>Design by Rachel Hisko</p>
    </div>

  </main>

</section>
